@CHARSET "UTF-8";

.admin-block {
	border:#000 1px solid;		
	width:500px;
	margin:1em;	
	padding:5px;
	vertical-align:top;	
}

.admin-block table {
	width:100%;
	border:1px solid;
	background-color:#ccc;
	margin-bottom:5px;
}

.admin-block table th {	
	font-weight:bold;
	font-size:0.9em;
	text-align:left;
}

.admin-block input,select {
	width:6em;
}

.btn-save {	
	width:50px;
	border:0px solid;
	text-align:right;
}

/**** Block without form styling ****/
.admin-block-ff {
	border:#000 1px solid;		
	width:500px;
	margin:1em;	
	padding:5px;	
	vertical-align:top;
}

.admin-block-ff table {
	width:100%;
	border:1px solid;
	background-color:#ccc;
	margin-bottom:5px;
}

.admin-block-ff table th {	
	font-weight:bold;
	font-size:0.9em;
	text-align:left;
}

.admin-block-ff input,select {
	width:100%;
}


/**** Small block ****/
.admin-block-s {
	border:#000 1px solid;		
	width:300px;
	margin:1em;	
	padding:5px;	
	vertical-align:top;
}

.admin-block-s table {
	width:100%;
	border:1px solid;
	background-color:#ccc;
	margin-bottom:5px;
}

.admin-block-s table th {	
	font-weight:bold;
	font-size:0.9em;
	text-align:left;
}

.admin-block-s input,select {
	width:6em;
}

/**** Small Block without form styling ****/
.admin-block-sff {
	border:#000 1px solid;		
	width:300px;
	margin:1em;	
	padding:5px;	
	vertical-align:top;
}

.admin-block-sff table {
	width:100%;
	border:1px solid;
	background-color:#ccc;
	margin-bottom:5px;
}

.admin-block-sff table th {	
	font-weight:bold;
	font-size:0.9em;
	text-align:left;
}

.admin-block-sff input,select {
	width:99%;
}