@CHARSET "UTF-8";

.store-container {
	width:800px;
	margin-left:auto;
	margin-right:auto;	
}

.store-container * {
	text-align:left;	
}

.store-container:hover {
	box-shadow: 1px 1px 1px #000;	
}

.store-container td table {
	width:100%;
}

.store-container #store th {
	width:4em;
	border:0px solid;
}

.store-container .store-item {
	width:100%;
}

.store-container .store-item th {
	width:150px;
	font-weight:normal;
	font-size:1em;
}

.store-container input[type="text"],select {
	width:200px;	
}

.store-container input {
	border:1px solid #e5e5e5;
	border-radius:5px;	
}

.store-container .pos-item input[type="text"] {
	width:100px;
}

.store-container select {
	width:200px;
}

.store-container #store-items table table table td {
	border-bottom:1px solid #eee;
}

/**** SEARCH ****/
.search-table {
	margin-left:auto;
	margin-right:auto;
}

.search-table input {
	font-size:1em;
	background-color:rgba(255,255,255,0.5);
	border:1px solid #e5e5e5;
	border-radius:5px;
}

/**** POS ****/

.pos-status {
	width:1em;
	height:1em;
}

/**** COLORS ******/

.col-franchiser {
	background-color:#ffff00;
}

.col-contact {
	background-color:#00ffff;
}

.col-economics {
	background-color:#00ff00;
}

.col-pos {
	background-color:#ff8080;
}