@CHARSET "UTF-8";

html,body {
	margin:0px;
	padding:0px;
	width:100%;
	height:100%;
}

body {
	background-image:url('../images/logo543x373.png');
	background-repeat:no-repeat;
	background-position:center;	
}

.head {
	position:relative;
	top:0px;
	left:0px;
	/*background-color:#ddd;*/
	height:2em;
	width:100%;
	padding:0px;
	margin:0px;
	border-bottom:solid 1px #000;	
}

.head-hover {
	position:absolute;
	top:0px;
	left:0px;
	z-index:99;
	height:2em;
	width:100%;
	padding:0px;
	margin:0px;	
	margin-bottom:10px;
	background-color:none;
}

.head-hover > span {
	display:none;
}

.head-hover:hover {
	background-color:#fff;
}

.head-hover:hover > span {
	display:block;
}



.foot {
	position:absolute;
	bottom:0px;
	left:0px;
	background-color:#ddd;
	height:3em;
	width:100%;
	padding:0px;
	margin:0px;
	border-top:solid 1px #000;	
}

.module-body {
	position:relative;
	top:0px;
	left:0px;	
	width:100%;
	border:#000 0px solid;
	text-align:center;
}

.inline {
	display:inline-block;
}

.hidden {
	display:none;
}

.show {
	display:block;
}

.pointer {
	cursor:pointer;
}

.online {
	width:1em;
	height:1em;
	background-color:green;
}

.offline {
	width:1em;
	height:1em;
	background-color:red;
}

.inactive {
	width:1em;
	height:1em;
	background-color:#ddd;
}

table {
	text-align:left;
}