@CHARSET "UTF-8";

html,body {
	margin:0px;
	padding:0px;
	width:100%;
	height:100%;
}

body {
	background-image:url('../images/logo543x373.png');
	background-repeat:no-repeat;
	background-position:center;	
	background-color:#e9eff3;
}

.head {
	position:relative;
	top:0px;
	left:0px;
	/*background-color:#ddd;*/
	height:2em;
	width:100%;
	padding:0px;
	margin:0px;
	border-bottom:solid 1px #000;	
}

.head-hover {
	position:absolute;
	top:0px;
	left:0px;
	z-index:99;
	height:2em;
	width:100%;
	padding:0px;
	margin:0px;	
	margin-bottom:10px;
	background-color:none;
}

.head-hover > span {
	display:none;
}

.head-hover:hover {
	background-color:#fff;
}

.head-hover:hover > span {
	display:block;
}



.foot {
	position:absolute;
	bottom:0px;
	left:0px;
	background-color:#ddd;
	height:3em;
	width:100%;
	padding:0px;
	margin:0px;
	border-top:solid 1px #000;	
}

.module-body {
	position:relative;
	top:0px;
	left:0px;	
	width:100%;
	height:95%;
	border:#000 0px solid;
	text-align:center;
}

.inline {
	display:inline-block;
	margin:0px;
	padding:0px;
}

.center {
	margin-left:auto;
	margin-right:auto;
}

.hidden {
	display:none;
}

.show {
	display:block;
}

.pointer {
	cursor:pointer;
}

.text-center {
	text-align:center;
}

.text-left {
	text-align:left;
}

.text-right {
	text-align:right;
}

.bold {
	font-weight:bold;
}

.online {	
	background-color:#00d500;
}

.warning {	
	background-color:#fd9b17;
}

.offline {	
	background-color:#ff0000;
}

.inactive {	
	background-color:#ccc;
}

.unknown {	
	background-color:#ddd;
}

.w50 {
	width:50%;
}

.wSmall {
	width:3em;
}

.wMedium {
	width:6em;
}

.wLarge {
	width:10em;
}

table {
	text-align:left;
}

.link-nodeco {
	text-decoration:none;
	color:#000;
}

.container {
	position:relative;
	background-color:rgba(255,255,255,0.9);
	margin:1px;
	padding:1px;	
	vertical-align:top;
	border:1px solid #ddd;
	border-radius:2px;
}

.container a {
	text-decoration:none;
	color:#000;
}

.button {
	background-color:#efefef;
	border:1px solid #c5c5c5;	
	border-radius:5px;
	font-size:0.8em;
	padding:2px;
	padding-left:4px;
	padding-right:4px;
}

.button-clear {
	border:1px solid #c5c5c5;	
	border-radius:5px;
	font-size:0.8em;
	padding:2px;
	padding-left:4px;
	padding-right:4px;
}