@CHARSET "UTF-8";

/* Container for main menus */
.menu-container {	
	position:relative;
	font-size:1.2em;
	margin:5px;		
}

/* Container for submenu items */
.submenu-container {
	display:none;
}

/* Display submenu container on mouse hover over main container */
.menu-container:hover > .submenu-container {
	position:absolute;
	z-index:2;	
	left:0px;	
	display:block;	
	background-color:#fff;
	padding:5px;
	border:1px solid #f5f5f5;
}

/* Remove all styling on links in the menu containers */
.menu-container > a,.submenu-container > div a {
	text-decoration:none;
	color:#000;
}

.submenu-container div {
	width:100%;
	text-decoration:none;
	font-size:1em;
}

.login-container {
	width:200px;
}