@CHARSET "UTF-8";

.online-status-on {
	width:100%;
	height:1em;	
	background-color:#00ff00;
	text-align:center;	
	font-size:1.8em;
}

.online-status-warning {
	width:100%;
	height:1em;	
	background-color:#ff8000;
	text-align:center;	
	font-size:1.8em;
}

.online-status-off {
	width:100%;
	height:1em;		
	background-color:#ff0000;
	text-align:center;
	font-size:1.8em;		
}

.online-status-inactive {
	width:100%;
	height:1em;		
	background-color:#808080;
	text-align:center;
	font-size:1.8em;		
	color:#fff;
}

.pos-table {
	width:100%;
	font-size:1em;	
}


.monitor-block {
	border:#000 0px solid;		
	width:100% -1em;
	margin:0px;	
	padding:0px;
	vertical-align:top;	
}

.monitor-block p {
	text-decoration:underline;	
	margin:5px;
}

.monitor-block table {
	width:100%;
	border:1px solid;
	/*background-color:#ccc;*/
	margin-bottom:5px;	
}

.monitor-block table th {	
	font-weight:bold;
	font-size:1em;
	text-align:left;	
}

.monitor-block-s {	
	border:#000 0px solid;			
	margin-bottom:0.3em;
	margin-left:1em;
	margin-right:1em;	
	padding:1px;
	width:2.5em;
}

.monitor-block-s a {
	text-decoration:none;
	color:#000;	
}

.monitor-block-s table {
	width:100%;
	border:none;
	border-bottom:0px solid;
	/*background-color:#ccc;*/
	margin-bottom:1px;	
}

.monitor-block-s table th {	
	font-weight:bold;
	font-size:1.8em;
	margin:0px;
	padding:0px;	
	text-align:center;	
}

.monitor-block-s table td {	
	font-weight:none;
	
	border:none;
	margin:0px;
	padding:0px;
	border-bottom:1px solid;
	text-align:center;	
}